@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  overflow: hidden;
}
.Row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Contact-button{
  height: 4vmin;
  width: 19vmin;
  background-color: #EE2288;
  border-width: 0.2vmin;
  border-style: solid;
  border-color: #EE2288;
  color: #fff;
  font-size: 1.7vmin;
  margin: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vmin;
  text-decoration: none;
  padding: 0.5vmin;
}
.Contact-button:hover{
  background-color: #fff;
  color: #EE2288;
  border-color: #EE2288;
  border-width: 0.2vmin;
  border-style: solid;
}
.Login-button{
  height: 4vmin;
  width: 19vmin;
  background-color: #26D7AB;
  border-width: 0.2vmin;
  border-style: solid;
  border-color: #26D7AB;
  color: #fff;
  font-size: 1.7vmin;
  margin: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vmin;
  text-decoration: none;
  padding: 0.5vmin;
}
.Login-button:hover{
  background-color: #fff;
  color: #26D7AB;
  border-color: #26D7AB;
  border-width: 0.2vmin;
  border-style: solid;
}

.HomeContainer-left{
  height: 52vmin;
  width: 38vw;
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5vmin;
  margin: 1vmin;
  margin-left: 10vmin;
  animation-name: Home-leftAnim;
  animation-duration: 1s;
  position: relative;
}
@keyframes Home-leftAnim {
  from {
      top: 10vmin;
      opacity: 0;
  }
  to {
      top: 0vmin;
      opacity: 1;
  }
}
.HomeContainer-right{
  height: 52vmin;
  width: 30vw;
  /*background-color: #EE2288;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vmin;
  animation-name: Home-rightAnim;
  animation-duration: 1s;
  position: relative;
}
@keyframes Home-rightAnim {
  from {
      left: 10vmin;
      opacity: 0;
  }
  to {
      left: 0vmin;
      opacity: 1;
  }
}
.Home-title{
  font-size: 8.5vmin;
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 1vmin;
}
.Home-content{
  font-size: 2.6vmin;
  font-weight: normal;
  color: #363738;
  text-align: left;
  margin: 1vmin;
}
.Home-image{
  height: 85vmin; 
  margin: 1vmin;
  margin-top: 17vmin;
}

.Scroll{
  position: absolute;
  bottom: 10vmin;
  left: 39vmin;
  font-size: 1.8vmin;
  font-weight: bold;
  color: black;
  transform: rotate(90deg);
  margin: 2vmin;
  align-self: center;
  animation-name: Scroll-animation;
  animation-duration: 1.5s;
  animation: UpDown-anim 1000ms linear infinite;
}
@keyframes UpDown-anim {
  50% {
    bottom: 8vmin;
  }
}

.arrow {
  border: solid #EE2288;
  border-width: 0 0.5vmin 0.5vmin 0;
  display: inline-block;
  padding: 1vmin;
  position: absolute;
  bottom: 0;
}
.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
