.Page4{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Page4-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Page4-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Page4-title{
    position: relative;
    top: 12vmin;
    left: -30vmin;
    height: 8vmin;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background-color: aqua;*/
    font-size: 6vmin;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 2vmin;
}
.Page4-titlecontent{
    font-size: 1.8vmin;
    color: #333;
    font-weight: bold;
}
.Page4-container{
    height: 70vmin;
    width: 110vmin;
    display: grid;
    margin: 0.5vmin;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: center;
    margin-right: -10vmin;
}
.Page4Content-container{
    padding: 2vmin;
    height: 20vmin;
    width: 30vmin;
    border-radius: 2vmin;
    background-color: rgba(238, 34, 136, 0.3);
    margin: 1vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}
.Page4Content-container:hover{
    transform: scale(1.02);
}

.Page4-imgtitle{
    font-size: 2.2vmin;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Page4-img{
    height: 10vmin;
    margin: 1vmin;
}
.Page4-imgcontent{
    font-size: 1.6vmin;
    color: #333;
    margin-top: 0.5vmin;
}

.Page4-FarmerImg{
    height: 85vmin;
    margin: 1vmin;
    margin-left: 5vmin;
}